@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
  font-family: "Public Sans", sans-serif;
  font-size: 1rem;
  min-height: 100vh;
  background-color: $darkBlueMainBg;
  color: #f4f4f4;
  position: relative;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 0.8rem;
}

.blue--btn {
  background: linear-gradient(to right, $cyan, $blue);
  padding: 0.8rem 4.7rem;
  border-radius: 50px;
  text-align: center;
}

.grid--btn {
  width: 100%;
  @include breakpoint-up(large) {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    gap: 1rem;
  }
}
